In [50]:
import pdfplumber
import pandas as pd

# Define the path to your PDF file
pdf_path = '/Users/shubhamjuneja/vscode/personal_projects/neet_pg_pdf_scraping/2024120683.pdf'

In [51]:
dfs = []
with pdfplumber.open(pdf_path) as pdf:
   
    for page in pdf.pages:
        #print(page)
        tables = page.extract_tables()
        for table in tables:
            df = pd.DataFrame(table[1:])
            df.columns = df.iloc[0,]
            df = df.iloc[1:,].reset_index(drop=True)
            dfs.append(df)

In [46]:
#dfs[0].columns = dfs[0][]
final_df = pd.concat(dfs,axis = 0)
final_df['Type'] = 'Clear Vacancy'

In [49]:
final_df_1 = pd.concat(dfs,axis = 0)
final_df_1['Type'] = 'Newly Added'
final_df_1.head()

,StateName,Institute,Quota,Branch,Category,TotalSeats,Type
0,Andhra Pradesh,"Andhra Medical College, Andhra Medical College...",All India,M.D. (Radiotherapy/ Radiation Oncology) (RADT),BC NO,1,Newly Added
1,Andhra Pradesh,"Andhra Medical College, Andhra Medical College...",All India,M.D. (Radiotherapy/ Radiation Oncology) (RADT),OP NO,1,Newly Added
2,Andhra Pradesh,"Andhra Medical College, Andhra Medical College...",All India,M.D. (Radiotherapy/ Radiation Oncology) (RADT),ST NO,1,Newly Added
3,Andhra Pradesh,"Manipal Hospital, Andhra Pradesh, near varadhi...",DNB Quota,(NBEMS) ANAESTHESIOLOGY (DANS),OP NO,1,Newly Added
4,Andhra Pradesh,"Rainbow Childrens Hospital, Andhra Pradesh, Pl...",DNB Quota,(NBEMS) PAEDIATRICS (DPED),OP NO,2,Newly Added

In [52]:
final_df_2 = pd.concat(dfs,axis = 0)
final_df_2['Type'] = 'Vertual'
final_df_2.head()

,StateName,Institute,Quota,Branch,Category,TotalSeats,Type
0,Andaman And Nicobar Islands,ANDAMAN AND NICOBAR ISLANDS INSTITUTE OF MEDIC...,DNB Quota,(NBEMS) GENERAL MEDICINE (DMED),EW NO,1,Vertual
1,Andhra Pradesh,"ACSR GOVERNMENT MEDICAL COLLEGE,NELLORE, Opp. ...",All India,M.D. (FORENSIC MEDICINE) (FMED),BC NO,1,Vertual
2,Andhra Pradesh,"ACSR GOVERNMENT MEDICAL COLLEGE,NELLORE, Opp. ...",All India,M.D. (GENERAL MEDICINE) (GMED),OP NO,2,Vertual
3,Andhra Pradesh,"ACSR GOVERNMENT MEDICAL COLLEGE,NELLORE, Opp. ...",All India,M.D. (GENERAL MEDICINE) (GMED),SC NO,2,Vertual
4,Andhra Pradesh,"ACSR GOVERNMENT MEDICAL COLLEGE,NELLORE, Opp. ...",All India,M.D. (GENERAL MEDICINE) (GMED),ST NO,1,Vertual

In [53]:
neet = pd.concat([final_df,final_df_1,final_df_2],axis= 0).reset_index(drop=True)
neet.shape

(17759, 7)

In [54]:
neet.to_csv('/Users/shubhamjuneja/vscode/personal_projects/neet_pg_pdf_scraping/combined.csv',index=False)